/*
          _                         _
__      _| | ___   __ _  ___  _   _| |_
\ \ /\ / / |/ _ \ / _` |/ _ \| | | | __|
 \ V  V /| | (_) | (_| | (_) | |_| | |_
  \_/\_/ |_|\___/ \__, |\___/ \__,_|\__|
                  |___/

by Stephan Raabe (2023)
-----------------------------------------------------
*/

/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
@import '../../colors.css';

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background: url("../../../../.cache/ml4w/hyprland-dotfiles/blurred_wallpaper.png");
	background-size: cover;
	font-size: 16pt;
}

button {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 45%;
	animation: gradient_f 20s ease-in infinite;
	border-radius: 2px; /* Increased border radius for a more rounded look */
	border: 12px;
	border-color: @tertiary;
	transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
	color: @secondary;
	background-color: alpha(@primary_container, 0.5);
	min-width: 72px;
}

button:focus {
	background-color: alpha(@primary_container, 0.75);
}

button:hover {
    background-color: alpha(@primary_container, 0.9);
    color: @secondary_fixed;
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}

/*
-----------------------------------------------------
Buttons
-----------------------------------------------------
*/

#lock {
	margin: 10px;
	background-image: image(url("./icons/lock.png"));
}

#logout {
	margin: 10px;
	background-image: image(url("./icons/logout.png"));
}

#suspend {
	margin: 10px;
	background-image: image(url("./icons/suspend.png"));
}

#hibernate {
	margin: 10px;
	background-image: image(url("./icons/hibernate.png"));
}

#shutdown {
	margin: 10px;
	background-image: image(url("./icons/shutdown.png"));
}

#reboot {
	margin: 10px;
	background-image: image(url("./icons/reboot.png"));
}
