* {
    background: rgba(255, 255, 255, 0.7);
    blur-background: rgba(247, 249, 255, 0.3);
    blur-background8: rgba(247, 249, 255, 0.8);
    blur-background9: rgba(247, 249, 255, 0.95);

    primary: #2a638b;
    primary-fixed: #cce5ff;
    primary-fixed-dim: #98ccf9;
    on-primary: #ffffff;
    on-primary-fixed: #001e31;
    on-primary-fixed-variant: #034b71;
    primary-container: #cce5ff;
    on-primary-container: #001e31;
    secondary: #50606f;
    secondary-fixed: #d4e4f6;
    secondary-fixed-dim: #b8c8d9;
    on-secondary: #ffffff;
    on-secondary-fixed: #0d1d2a;
    on-secondary-fixed-variant: #394856;
    secondary-container: #d4e4f6;
    on-secondary-container: #0d1d2a;
    tertiary: #66587b;
    tertiary-fixed: #ecdcff;
    tertiary-fixed-dim: #d1bfe7;
    on-tertiary: #ffffff;
    on-tertiary-fixed: #211534;
    on-tertiary-fixed-variant: #4e4162;
    tertiary-container: #ecdcff;
    on-tertiary-container: #211534;
    error: #ba1a1a;
    on-error: #ffffff;
    error-container: #ffdad6;
    on-error-container: #410002;
    surface: #f7f9ff;
    on-surface: #181c20;
    on-surface-variant: #42474d;
    outline: #72787e;
    outline-variant: #c2c7ce;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #2d3135;
    inverse-on-surface: #eef1f6;
    inverse-primary: #98ccf9;
    surface-dim: #d7dadf;
    surface-bright: #f7f9ff;
    surface-container-lowest: #ffffff;
    surface-container-low: #f1f4f9;
    surface-container: #ebeef3;
    surface-container-high: #e6e8ee;
    surface-container-highest: #e0e3e8;

    active-border: #fed07c;
}
