/*
 * __        __          _                  ____  _         _
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___|
 *                 |___/                              |___/
 *
 * -----------------------------------------------------
*/@import '../../../../.config/waybar/colors.css';
@define-color backgroundlight @surface;
@define-color backgrounddark @surface;
@define-color workspacesbackground1 @surface;
@define-color workspacesbackground2 @secondary;
@define-color bordercolor @on_surface;
@define-color textcolor1 @on_surface;
@define-color textcolor2 @surface;
@define-color textcolor3 @on_surface;
@define-color iconcolor @surface;

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
    font-family: "CaskaydiaCove Nerd Font", "Fira Sans Semibold", "Font Awesome 7 Free", "Font Awesome 7 Brands", "Font Awesome 6 Free", "Font Awesome 6 Brands", FontAwesome, "Material Icons", Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar.HDMI-A-1 {
  font-size: 18px;
}
window#waybar.DP-1 {
  font-size: 18px;
}
window#waybar.DP-3 {
  font-size: 16px;
}
window#waybar.DP-2 {
  font-size: 18px;
}
window#waybar {
    margin: 2px 0px 2px 0px;
    padding: 1px;
    background-color: @background;
    border-top: 2px solid @primary;
    border-bottom: 2px solid @primary;
    /* color: #FFFFFF; */
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left {
    padding-left: 10px;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

button {
    box-shadow: none;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    transition-duration: .1s;
    background: inherit;
    box-shadow: none;
}

#workspaces {
    margin: 2px 1px 3px 1px;
    padding: 0px 1px;
    border-radius: 12px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: @on_background;
}

/* normal workspace button (inactive) */
#workspaces button {
    border-radius: 15px;
    margin: 2px 1px 3px 1px;
    padding: 2px 4px;
    border: 0px;
    color: @on_background;
    min-width: 20px;
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
}

/* current active workspace */
#workspaces button.focused,
#workspaces button.active {
    margin: 2px 1px 3px 1px;
    padding: 2px 4px;
    box-shadow: none;
    text-shadow: none;
    background: none;
    border: none;
    padding: 2px 4px;
    color: @source_color;
    font-weight: bolder;
    min-width: 20px;
}

/* selecting workspace */
#workspaces button:hover {
    margin: 2px 1px 3px 1px;
    padding: 2px 4px;
    background: none;
    border: none;
    box-shadow: inherit;
    text-shadow: inherit;
    background: none;
    color: @tertiary_fixed;
    /*min-width: 22px;*/
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

/* -----------------------------------------------------
 * Border 
 * ----------------------------------------------------- */

#custom-left-border,
#custom-right-border {
  margin-top: -4px;
  margin-bottom: -4px;
  color: @primary;
  font-size: 32px;
}
#custom-left-border {
  margin-left: -12px;
}
#custom-right-border {
  margin-right: 8px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 12px;
    background-color: @blur_background8;
    opacity:0.9;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @on_background;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    margin: 0px 15px 0px 0px;
    border-radius: 12px;
    color:@textcolor;
    font-size:14px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-audio,
#custom-brave,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm,
#custom-cliphist,
#custom-wallpaper,
#custom-settings,
#custom-wallpaper,
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-tools,
#custom-quicklink_chromium,
#custom-quicklink_edge,
#custom-quicklink_firefox,
#custom-quicklink_browser,
#custom-quicklink_filemanager,
#custom-quicklink_email,
#custom-quicklink_thunderbird,
#custom-quicklink_calculator,
#custom-sidepad,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
    margin-right: 16px;
    font-size: 14px;
    font-weight: bold;
    color: @on_surface;
}

#custom-space {
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px 0px;
    font-size: 12px;
}

#custom-tools {
    margin-right: 12px;
}

#custom-hyprshade {
    margin-right: 12px;
}

#custom-hypridle {
    margin-right:16px;
}

#custom-hypridle.active {
    color: @on_surface_variant;
}

#custom-hypridle.notactive {
    color: #dc2f2f;
}

#custom-settings {
    margin-right: 15px;
}

#custom-browser {
    margin-right: 12px;
}

#custom-wallpaper {
    margin-right: 14px;
}

#custom-chatgpt {
    margin-right: 10px;
    background-image: url("../assets/ai-icon-20.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 23px;
}

#custom-waybarthemes,#custom-system {
    margin-right: 15px;
}


#custom-ml4w-welcome {
    background-image: url("../assets/ml4w-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 20px;
    margin: 5px 15px 5px 0px;
}

#custom-ml4w-hyprland-settings {
    background-image: url("../assets/hyprland-icon-20.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 16px;
    margin: 5px 15px 5px 0px;
}

/* -----------------------------------------------------
 * Custom Notification
 * ----------------------------------------------------- */

#custom-notification {
    margin: 2px 15px 2px 0px;
    font-size:20px;
    font-family: "Material Icons";
    color: @on_surface;
    opacity: 0.8;
}

/* -----------------------------------------------------
 * Idle Inhibitor
 * ----------------------------------------------------- */

#idle_inhibitor {
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
    color: @on_surface;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenuicon {
    font-size: 18px;
    color: @on_surface;
    margin: 0px 20px 0px -5px;
    min-width: 15px;
}
#custom-appmenuicon:hover {
    font-size: 22px;
    color: @on_surface_variant;
    margin: 0px 20px 0px -5px;
    min-width: 15px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0px 20px 0px 0px;
    padding:0px;
    font-size:16px;
    color: @error;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 0px 15px 0px 0px;
}

#custom-updates.green {
}

#custom-updates.yellow {
    color: #ff9a3c;
}

#custom-updates.red {
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
    background-color: @blur_background;
    font-size: 14px;
    color: @on_background;
    border-radius: 15px;
    margin: 0px 15px 0px 0px;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#hardware {
    margin-left: 12px;
    margin-right: 12px;
}

#disk,#memory,#cpu,#language {
    margin: 4px 0px;
    padding: 0px;
    font-size:14px;
    color: @on_background;
    margin-right: 10px;
}
#disk span,
#memory span,
#cpu span,
#language span {
    margin: 2px 0px;
    padding: 2px;
}
#cpu span {
    min-width: 40px;
}
#cpu {
    min-width: 130px;
}
#cpu span.cpu-usage {
    min-width: 40px;
}

#language {
    margin-right:10px;
}

/* -----------------------------------------------------
 * Power Profiles Daemon
 * ----------------------------------------------------- */

 #power-profiles-daemon {
    margin: 0px 13px 0px 0px;
    padding:0px;
    font-size:14px;
    color: @on_surface_variant;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    font-size: 15px;
    color: @textcolor;
    margin: 0px 15px 0px 0px;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 0px 15px 0px 0px;
    background-color: transparent;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 0px 15px 0px 0px;
}

#pulseaudio.muted {
    color: @textcolor;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 0px 15px 0px 0px;
}

#network.ethernet {
    color: @textcolor;
}

#network.wifi {
    color: @textcolor;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */
 
#bluetooth, #bluetooth.on, #bluetooth.connected {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 10px 15px 10px 0px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 10px 15px 10px 0px;
}

#battery.charging, #battery.plugged {
    color: @textcolor;
}

@keyframes blink {
    to {
        background-color: @blur_background;
        color: @on_background;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    margin:0px 10px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
